body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    /* background-color: rgba(0, 0, 0, .25); */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    font-size: 18px;
    font-weight: 600;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .bg-custom{
      background-color: #0e3b77;
  }

  .top-card{
    height: 160px;
    background-color: #0e3b77;
    color: #fff;
  }
  .padding-left-right-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .padding-45{
    padding: 45px;
  }
.welcome-txt{
    font-size: 24px;
    font-weight: 700;
}
.noti-txt{
    font-size: 15px;;
}
.card{
    margin: 20px;
    /* transform: scale(1.06); */
    box-shadow: 0 10px 20px 0 rgba(9,9,16,.15);
    border: none;
}
.card-titlt-txt{
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}
.profile-txt{
    height: 152px;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #73797926;
}
.profile-txt div{
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}
.nav-item{
    padding: 10px;
    color: #333;
}
.nav-item:hover{
    background-color: #0d3871;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.h5, h5 {
  font-size: 3.25rem;
}
.card-text:last-child {
  margin-bottom: 1rem;
}

.icons-font-style{
  font-size: 13px;
  color: #ffffff;
  border: 6px solid #0e3b77;
  background: #0e3b77;
  border-radius: 32%;
}
.table-height{
  max-height: 385px;
  overflow: auto;
}
.title-div{
  padding: 5px;
    border-bottom: 1px solid #bfbdbd;
}